nav {
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%);
    background-color: rgba(0, 0, 0, 0.404);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --nav-height: 7.2rem;

    font-size: 62.5%;
    --nav-height: 7.2rem;

    --color-text: #f0f0f0;
    --paragraphy-color: #111111;
    --p-color: #444444;

    --background-dourado: #8c7851;
    --headline-dourado: #fffffe;
    --card-paragraphy-dourado: #020826;
    --card-dourado: #eaddcf;

    --background: #f9f4ef;
    --card-background: #fffffe; 
    --headline: #020826;
    --paragraphy: #716040;
} 

body {
  background-color: var(--background);
}

#areas header {
    margin-bottom: 8rem;
}

  #areas h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--paragraphy-color);
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  #areas header p {
    font-weight: 500;
    color: var(--p-color);
    margin-bottom: 2rem;
  }


  /* DETAILS =================== */
.details {
    margin-top: 5rem;
}

details {
  text-align: left;
}

summary {
    background-color: var(--paragraphy-color);
    padding: 1.5rem;
    font-weight: 400;
    border-radius: 1rem;
    border: 1px solid #d8d8d894;
    box-shadow: 2px 4px 30px #1b1b1b5b;
  
    color: var(--background);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
details summary:hover {
    cursor: pointer;
  }
  
details summary svg {
    transition: all 100ms ease-in-out;
  }
  
details[open] summary svg {
    transform: rotate(90deg);
  }
  
  details>summary {
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none
  }
  
details p {
    /* From https://css.glass */
    background: #242424;
    padding: 2rem;
    border: 1px solid #d8d8d894;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #a5a5a5;
    font-weight: 500;
    line-height: 1.4;
    text-align: left;
  }

  details:nth-child(1) p {
    border-radius: 0 0 0 0;
    border: 0px;
  }

  details ul {
    background: #242424;
    padding: 2rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #d8d8d894;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
  
    color: #a5a5a5;
    font-weight: 500;
    line-height: 1.3;
    text-align: left;
    padding-left: 3.5rem;
  }

  details ul li {
    list-style: disc;
  }

  details[open] summary {
    border-radius: 1rem 1rem 0 0;
    border-bottom: none;
  }
  
  details[open] summary ~ * {
    animation: swep 300ms ease-in-out;
  }
  
  @keyframes swep {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
.details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

@media (min-width: 1300px) {
.wrapper {
    width: min(133rem, 100%);
}

section#areas .wrapper header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
      
    section#areas .wrapper h2 {
    font-size: 3rem;
    }
      
    section#areas .wrapper header p {
    max-width: 60%;
    font-size: 2rem;
    }

    section#areas .wrapper details summary {
      font-size: 2rem;
    }
    
    section#areas .wrapper details p {
      font-size: 2rem;
    }
}